@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 17.1% 83%;
}

.movimentacao {
    padding: 48px 200px;
    background-color: #dde7ee1b;
}

.title-mov {
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
}

hr {
    border: 0.1px solid #DDDFE2;
    width: 98%;
    margin: 16px 0px 24px;
}

.subtitle-mov {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
    font-weight: 400;
}

.input-mov {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.box-mov {
    display: grid;
    grid-template-columns: 50% 50%;
}

.input-mov > label {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
    color: #000000;
}

.input-mov > input, select {
    width: 95%;
    padding: 6px 12px;
    line-height: 20px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-cadastro > select {
    height: 34px;
    font-size: 16px;
    color: #000000af;
    padding: 6px 36px 6px 12px;
}

.btn-mov {
    color: #FFFFFF;
    background-color: #3445b4;
    padding: 6px 12px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 4px;
    font-weight: 300;
    margin-top: 5px;
}